.footer-section {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.main-footer-conteiner {
  align-items: baseline;
  display: flex;
}
.address-section {
  margin-top: 20px;
}
.address-item {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 9px;
  display: block;
}
.footer-mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  margin-bottom: 9px;
}
.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}
.contacts-info {
  margin-right: 70px;
}
.footer-title {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}
