.page-header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.header-conteiner {
  display: flex;
  align-items: center;
}
.section-nav {
  display: flex;
  align-items: center;
  border-bottom: var(--main-color);
}
.menu-nav-list {
  display: flex;
}
.header-contacts {
  display: flex;
  margin-left: auto;
}

.menu-nav-item {
  margin-left: 50px;

  & :hover,
  & :focus {
    color: var(--hover-foces-color);
  }

  .menu-nav-list &:first-child {
    margin-left: 0;
  }
}
.header-logo {
  margin-right: 93px;
}
.menu-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  text-decoration: none;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-nav.current {
  color: var(--hover-foces-color);

  &:after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--hover-foces-color);
    bottom: -32px;
  }
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mail-item {
  margin-right: 50px;

  & :hover,
  & :focus {
    color: var(--hover-foces-color);
  }
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-tel-item {
  & :hover,
  & :focus {
    color: var(--hover-foces-color);
  }
}
.header-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .header-tel-item :hover &,
  .header-tel-item :focus & {
    fill: var(--hover-foces-color);
  }
  .header-mail-item :hover &,
  .header-mail-item :focus & {
    fill: var(--hover-foces-color);
  }
}
