.work-section {
  padding-top: 0;
}
.work-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}
.work-list {
  display: flex;
}
.work-list .work-item:first-child {
  margin-left: 0;
}
.work-item {
  margin-left: 30px;
  position: relative;
}
.label {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
}
.label-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
