.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--hover-foces-color);
}
.logo-dark {
  color: var(--main-color);
}
.logo-white {
  color: var(--secondary-text-color);
}
