.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 12px;
}
.modal-form-field {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
.modal-form-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--hover-foces-color);
}
.modal-form-input {
  cursor: pointer;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  display: block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--hover-foces-color);
}

.modal-form-message {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--hover-foces-color);
}
.modal-form-checkbox-label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 20px;
  margin-bottom: 30px;
}
.modal-form-checkbox-label::before {
  display: block;
  content: '';
  width: 16px;
  height: 15px;
  background: #ffffff;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}
.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url(../images/icon-check.svg);
  background-color: var(--hover-foces-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  border-color: var(--hover-foces-color);
}
.modal-form-checkbox :focus ~ .modal-form-checkbox-label ::before {
  outline: 0.2px solid var(--hover-foces-color);
}
.modal-form-checkbox-link {
  text-decoration-line: underline;
  color: var(--hover-foces-color);
}