.social-list {
  display: flex;
  justify-content: center;
}
.social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.social-item:last-child {
  margin-right: 0;
}
.social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--hover-foces-color);
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--secondary-text-color);
}
